
  <div class="projects main">
    <div class="container">
      <div class="row text-right">
        <%= link_to 'New Project', new_project_path ,class:'btn btn-primary', remote: true %>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table projects-list">
            <thead>
              <tr>
                <th>Name</th>
                <th>Time</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              <% @projects.each do |p| %>


              <tr>
                <td><%= p.name %></td>

                <% @total.each do |pr,v| %>

                   <% if pr == p.id %>

                      <td><%= v %> seconds</td>
                    <% else %>
                        <td>0 seconds</td>
                  <% end %>
                <% end %>



                <td class="text-right">
                  <%= link_to ('<span class="glyphicon glyphicon-edit"></span>Editar').html_safe, edit_project_path(p), remote: true %>
                  <%= link_to ('<span class="glyphicon glyphicon-remove"></span>Eliminar').html_safe, project_path(p), method: :delete , data:{confirm:"Deseas eliminar el Item"} %>
                </td>
              </tr>

               <% end %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


